* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
}

/* UTILITIES */

.container {
    width: 1170px;
    margin: 20px auto;
}

.clearfix::after {
    content: '';
    display: table;
    clear: both;
}

/* STILI */

header {
    /* background-color: pink; */
    /* height: 100px; */
}

body {
    color: #858585;
}

footer {
    background-color: purple;
    height: 50px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: 600;
}

/* CLASSI */

header .logo img{
    height: 70px;
}

header nav{
    margin-top: 45px;
}

header nav .main-menu li{
    list-style: none;
    display: inline;
    margin-right: 25px;
    text-transform: uppercase;
}

header nav .main-menu li a {
    text-decoration: none;
    color: #858585;
}

header nav .main-menu li a:hover {
    color: black;
}

.content-top {
    background-color: rgb(255, 255, 126);
    height: 400px;
    margin-bottom: 20px;
}

.content-bottom {
    background-color: dodgerblue;
}

.content-bottom > * {
    float: left;
    background-color: rgb(155, 203, 252);
    margin-bottom: 20px;
}

.heading {
    float: none;
    width: 100%;
    height: 70px;
}

.left-fl,
.right-fl {
    width: 23%;
    height: 500px;
}

.center-fl {
    width: 50%;
    height: 500px;
    margin: 0 2%;
}